footer {
    min-height: 50px;
    padding: 10px 25px;
    width: 100%;
    margin-top: 25px;

    .footer-wrapper {
        align-items: center;

        .copywright {
            margin-top: 15px;
            color: var(--surface-600);
        }

        .social {
            margin-top: 15px;
            text-align: right;
            .nav {
                justify-content: flex-end;
            }
        }
    }
}